/passjava-common/target/classes/com/sjsk/passjava/common/utils/Constant$CloudService.class
/passjava-common/target/classes/com/sjsk/passjava/common/utils/Constant$MenuType.class
/passjava-common/target/classes/com/sjsk/passjava/common/utils/Constant$ScheduleStatus.class
